
body {
    margin: 0;
    background-color: rgb(252, 247, 209);
    transition: all 0.5s ease-in-out;
    animation: BODY_LOAD 1s ease-in-out forwards;
    color: antiquewhite;
}

html {
    scroll-behavior: smooth;
  
}

div {
    overflow: hidden;
}

.main {
    background-color: #02010c;
    background-size: cover;
    background-attachment: fixed;
    overflow-x: hidden;
}

.navi{

    background-color: rgba(255, 255, 255, 0.045); /* translucent */
    backdrop-filter: blur(200px); /* blurs the background behind */
    -webkit-backdrop-filter: blur(200px); /* for Safari */
    color: antiquewhite;

}

.header {
    background: linear-gradient(to bottom, #e95959, #b01111, #910b0b, #250404);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text; 
    color: transparent;
    font-size: 80px;
}






.foot{
    background-color: #ffffff00;
}

.pics{
    height: 400px;
    width: 300px;
    border-radius: 10px;
    object-fit: cover;
}

.line{
     color: #910b0b;
}

.line:hover{
     color: #250404;
}

.btn{
    color: #910b0b;
    border-color: #250404;
}
.btn:hover{
    background-color: #ffffff0a;
    color: #910b0b;
    border-color: #250404;
   

}





/* Main Page*/

.homepage{
    background-image: url(pics/cov.jpg);
    width: 1800px;
    height: 600px;
    background-size: cover;
    background-attachment: fixed;
    margin-top: -100px;
    
}

