@import url('https://fonts.googleapis.com/css2?family=Asta+Sans:wght@300..800&family=Edu+SA+Hand:wght@400..700&family=Edu+VIC+WA+NT+Hand+Pre:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    margin: 0;
    background-color: rgb(252, 247, 209);
    transition: all 0.5s ease-in-out;
    animation: BODY_LOAD 1s ease-in-out forwards;
    color: antiquewhite;
    font-family: Inter;
    font-size: small;

}

html {
    scroll-behavior: smooth;

}

div {
    overflow: hidden;
}

.main {
    background-color: #08010a;
    background-size: cover;
    background-attachment: fixed;
    overflow-x: hidden;
}

.navi {

    background-color: rgba(255, 255, 255, 0.045);
    font-family: Inter;
    font-weight: 600;
    backdrop-filter: blur(200px);
    -webkit-backdrop-filter: blur(200px);
    color: antiquewhite;

}

.header {
    background: linear-gradient(to right, #900606, #690c0c, #250404, #0e0101);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    font-size: 80px;
    transition: text-shadow 0.3s ease;
}

.header:hover {
    text-shadow: 
        0 0 2px #900606,
        0 0 6px #690c0c,
        0 0 7px #250404,
        0 0 7px #0e0101;
}


.foot {
    background-color: #070108;
}

.pics {
    height: 400px;
    width: 300px;
    border-radius: 10px;
    object-fit: cover;
}

.line {
    color: #910b0b;
}

.line:hover {
    color: #250404;
}

.btn {
    color: #6d0707;
    border-color: #250404;
    font-family: Inter;
    font-weight: 600;

}

.btn:hover {
    background-color: #ffffff0a;
    color: #910b0b;
    border-color: #250404;


}

/* Main Page*/

.homepage {
    background-size: cover;
    background-attachment: fixed;
    margin-top: -100px;

}

.content {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    color: white;
    font-family: Inter;
    font-weight: 600;
    margin-top: -100px;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 50px;
    margin-left: -30px;
    width: 650px;
    height: 500px;
    text-align: left;
}